<footer class="footer">
            
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-12 copyright">
                
                <h6>Copyrights &copy; Joseph Maary</h6>
            
            </div>
        
            <div class="col-md-12 copyright">
            
                <h6>josephmaary@outlook.com</h6>
            
            </div>
            
        </div>
    
    </div>

</footer>

<!-- Bootstrap JavaScript -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- Add wow js lib -->
<script src="js/wow.min.js"></script>
<script> new WOW().init(); </script>

<!-- Custom Js -->
<script src="js/background-slideshow.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
<script>
	document.addEventListener( 'DOMContentLoaded', function () {
		new Splide( '.splide' ).mount();
	} );
</script>
</body>
    
</html>