<footer class="footer">
            
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-12 copyright">
                
                <h6>Copyrights &copy; Joseph Maary</h6>
            
            </div>
        
            <div class="col-md-12 copyright">
            
                <h6>josephmaary@outlook.com</h6>
            
            </div>
            
        </div>
    
    </div>

</footer>

</body>

<!-- Bootstrap JavaScript -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- Add wow js lib -->
<script src="js/wow.min.js"></script>
<script> new WOW().init(); </script>

<!-- Custom Js -->
<script src="js/section-header.js"></script>
<script src="js/section-choices.js"></script>
<script src="js/section-work-experience.js"></script>
<script src="js/section-personal.js"></script>
<script src="js/section-certificates.js"></script>
<script src="js/section-footer.js"></script>


</html>